<aside class="sidebar">
  <div class="sidebar-header">
    <div class="avatar-circle">
      <img src="/imagenes/avatar-figma.png" alt="Logo de Xuxemons" class="avatar-img">
    </div>
  </div>
  <nav class="sidebar-nav" aria-label="Menú principal">
    <a class="nav-item" routerLink="/home" routerLinkActive="active">INICIO</a>
    <a class="nav-item" routerLink="/xuxedex" routerLinkActive="active">XUXEDEX</a>
    <a class="nav-item" routerLink="/inventory" routerLinkActive="active">MOCHILA</a>
    <a class="nav-item" routerLink="/friends" routerLinkActive="active">AMIGOS</a>
    <a class="nav-item" routerLink="/perfil" routerLinkActive="active">
      <span class="icon-user"></span> PERFIL
    </a>
  </nav>
</aside>
